name: Using Azure with Azure login
on:
    workflow_dispatch:
    push:
      branches:
        - main

permissions:
    id-token: write
    contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --verbosity normal

    # ----------------------------
    # Build & Push Docker Image
    # ----------------------------
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/techshopapi:latest






  azure-login:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ vars.AKS_RESOURCE_GROUP }}
          cluster-name: ${{ vars.AKS_CLUSTER_NAME }}



      # - name: Upload kubeconfig
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: kubeconfig
      #     path: ~/.kube/config
      #     retention-days: 1

      - name: Create Namespace if it does not exist
        run: kubectl get namespace techshop || kubectl create namespace techshop
      - name: Secret for techshop-api
        run: |
          echo "${{ secrets.TECHSHOP_API_SECRET }}" > techshop-api-secrets.yaml
          kubectl apply -f techshop-api-secrets.yaml

      - name: Firebase Secret for techshop-api
        run: |
          echo "${{ secrets.FIREBASE_ADMIN_SDK_B64 }}" | base64 -d  > firebase-admin-sdk.json
          cat firebase-admin-sdk.json
          kubectl create secret generic firebase-admin-sdk \
            --from-file=serviceAccount.json=firebase-admin-sdk.json\
            -n techshop \
            --dry-run=client -o yaml | kubectl apply -f -







  helm-deploy:
    runs-on: ubuntu-latest
    needs: azure-login
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Helm add repo
        run: |
          helm repo add nvkq2022 https://nvkq2022.github.io/helm-charts
          helm repo update
      - name: Helm uninstall release if exists
        run: |
          # Check if the Helm release exists
          if helm list --namespace default | grep -q techshop-api-release; then
            echo "Release 'techshop-api-release' exists, uninstalling it."
            helm uninstall techshop-api-release --namespace default
          else
            echo "Release 'techshop-api-release' does not exist, skipping uninstall."
          fi

      - name: Helm install or upgrade release
        run: |
          # Install or upgrade the release
          helm upgrade --install techshop-api-release nvkq2022/techshop-api \
            --version 1.0.1 \
            --set service.type=LoadBalancer \
            --namespace default

      - name : Verify Deployment
        run: |
          kubectl get all -n techshop
          kubectl get secrets -n techshop
          helm status techshop-api-release