name: .NET CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
env:
  AZURE_WEBAPP_NAME: TechShop
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get or Increment Version
      run: |
        # Path to buildinfo.txt
        BUILDINFO_FILE="$GITHUB_WORKSPACE/buildinfo.txt"
        
        # Check if the file exists
        if [ -f "$BUILDINFO_FILE" ]; then
          # Read the current version from buildinfo.txt
          VERSION=$(grep -E "^VERSION=" "$BUILDINFO_FILE" | cut -d '=' -f2)

          if [ -n "$VERSION" ]; then
            # Split the version into major, minor, patch
            IFS='.' read -r MAJOR MINOR PATCH <<<"${VERSION//v/}"

            # Increment the patch version
            PATCH=$((PATCH + 1))

            # Construct the new version
            VERSION="v$MAJOR.$MINOR.$PATCH"
          else
            echo "No version found in $BUILDINFO_FILE. Starting from v1.0.0."
            VERSION="v1.0.0"
          fi
        else
          # If buildinfo.txt doesn't exist, start from v1.0.0
          echo "No buildinfo.txt file found. Starting from v1.0.0."
          VERSION="v1.0.0"
        fi

        # Get the current build date and commit hash
        BUILD_DATE=$(date +'%Y-%m-%d')
        COMMIT_HASH=$(git rev-parse --short HEAD)

        # Write the new version, build date, and commit hash to buildinfo.txt
        echo "VERSION=$VERSION" > "$BUILDINFO_FILE"
        echo "BUILD_DATE=$BUILD_DATE" >> "$BUILDINFO_FILE"
        echo "COMMIT_HASH=$COMMIT_HASH" >> "$BUILDINFO_FILE"

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --verbosity normal


    # ----------------------------
    # Build & Push Docker Image
    # ----------------------------
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/techshopapi:latest

    - name: Deploy to Azure Web App (container)
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        images: ${{ secrets.DOCKER_USERNAME }}/techshopapi:latest
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_TESTCICD }}

  deploy-to-AKS:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'
    - name: set up kubeconfig file
      run: |
        echo "Setting up kubeconfig file"
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}"  > ~/.kube/config

    - name : test create namespace
      run: |
        kubectl create namespace techshop


    - name: Set up helm
      uses: azure/setup-helm@v1
      with:
        version: 'latest'

    - name: Helm add repo
      run: |
        helm repo add nvkq2022 https://nvkq2022.github.io/helm-charts
        helm repo update

    - name: Helm install release
      run: |
        helm install techshop-api-release nvkq2022/techshop-api -f values --set service.type=LoadBalancer