name: .NET CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  AZURE_WEBAPP_NAME: TechShop
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get the Git Version
      run: |
        # Get the latest git tag (versioning strategy based on Git tags)
        VERSION=$(git describe --tags --abbrev=0)  # Get latest tag, e.g. "v1.0.0"
          
        # If no tag found, fall back to commit hash
        if [ -z "$VERSION" ]; then
          VERSION="commit-$(git rev-parse --short HEAD)"
        fi

        # Get the current build date
        BUILD_DATE=$(date +'%Y-%m-%d')

        # Get the latest commit hash
        COMMIT_HASH=$(git rev-parse --short HEAD)

        # Write the version, build date, and commit hash to buildinfo.txt
        echo "VERSION=$VERSION" > $GITHUB_WORKSPACE/buildinfo.txt
        echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_WORKSPACE/buildinfo.txt
        echo "COMMIT_HASH=$COMMIT_HASH" >> $GITHUB_WORKSPACE/buildinfo.txt


    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --verbosity normal


    # ----------------------------
    # Build & Push Docker Image
    # ----------------------------
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/techshopapi:latest

    - name: Deploy to Azure Web App (container)
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        images: ${{ secrets.DOCKER_USERNAME }}/techshopapi:latest
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_TESTCICD }}